# Force LF line endings everywhere (all modern editors handle this fine)
* text=auto eol=lf

# Binary files
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.eot binary
*.png binary
*.ico binary
*.gif binary
*.jpg binary
*.jpeg binary
*.exe binary
*.dll binary
*.pdb binary
*.zip binary
